<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="FortuneDbContext"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=FortuneDbContext;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
       providerName="System.Data.SqlClient" />
</connectionStrings>