<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ENV" value="TEST" />
  <add key="CORS_ALLOWED_ORIGINS" value="https://fortunetransportation.com" />
  <add key="SALT_LENGTH" value="12" />
  <add key="JWT_KEY" value="UFLx8$Q!h[azCh_4d66CGS@aSM6E7L" />
  <add key="JWT_LIFETIME_IN_HOURS" value="12" />
</appSettings>